asttokens==2.0.5
attrs==22.1.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
bs4==0.0.1
cachetools==5.2.0
cairocffi==1.3.0
CairoSVG==2.5.2
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.4
commonmark==0.9.1
cowpatch==0.1.1
cssselect2==0.6.0
cycler==0.11.0
decorator==5.1.1
defusedxml==0.7.1
descartes==1.1.0
dill==0.3.5.1
et-xmlfile==1.1.0
executing==0.8.3
Fiona==1.8.21
fonttools==4.33.3
gapminder==0.1
geojson==2.5.0
geopandas==0.11.1
google-auth==2.6.6
google-auth-oauthlib==0.5.1
gspread==5.4.0
idna==3.3
ipython==8.4.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.2
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mizani==0.7.4
munch==2.5.0
numpy==1.22.3
nycflights13==0.0.3
oauthlib==3.2.1
openpyxl==3.0.10
packaging==21.3
palettable==3.3.0
palmerpenguins==0.1.4
pandas==1.4.2
pandas-access==0.0.1
parso==0.8.3
patchworklib==0.4.2
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
plotly==5.10.0
plotnine==0.8.0
prompt-toolkit==3.0.29
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.12.0
pyodbc==4.0.32
pyparsing==3.0.9
pyproj==3.3.1
pyreadr==0.4.4
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
requests-oauthlib==1.3.1
rich==10.16.2
rsa==4.8
scikit-learn==1.1.2
scipy==1.8.1
seaborn==0.11.2
Shapely==1.8.4
six==1.16.0
skimpy==0.0.5
soupsieve==2.3.2.post1
stack-data==0.2.0
statsmodels==0.13.2
svgutils==0.3.4
tabulate==0.8.10
tenacity==8.1.0
threadpoolctl==3.1.0
tinycss2==1.1.1
traitlets==5.2.2.post1
typeguard==2.13.3
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
xlrd==2.0.1
