04_mtcars-fixed-width.txt
CollegeScorecard_Raw_Data.zip
College_Scorecard_Data.csv
nycflights13.sqlite
RDSlego.rds
R_binary.Rdata
04_Try_Binary.Rdata
04_Try_Binary1.rds
04_Try_Binary2.rds
General_Payment_Data_Full.csv
General_Payment_Data.csv
All_Places_Of_Worship.csv
BRFSS_2018_Full.zip
BRFSS_2018_full.txt
ME-GIS-master
MiddleEarthMap.zip
06_brfss_factors.csv
.directory
NYC_dogs.csv
